@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200&display=swap');
html {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    
}
*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
    color: #831b4f;
    font-size: larger;


}


/*-------------------------------------------General----------------------------------------------------*/

a {
    text-decoration: none;
    color: rgb(100, 5, 36);
    font-weight: bold;
}


/*-----------------------------navBar----------------------------------------------*/
.nav {
    display: flex;
    justify-content: space-between;
    background: rgb(65, 7, 35);
    padding: 5px;
    border-radius: 3px;
}

.nav a {
    background: rgba(12, 84, 133, 0.787);
    border-radius: 3px;
    padding: 3px;
}

.nav a:hover {
    background: rgba(15, 111, 175, 0.787);

}

/*--------------------------------------------Presentacion---------------------------------------------*/

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(/assets/books.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(54, 22, 22);
    font-weight: bold;
    
}

.presentacion h1 {
    background: rgba(109, 96, 96, 0.65);
}

.presentacion p {
    background: rgba(109, 96, 96, 0.65);
}

.presentacion img {
    width: 200px;
    border-radius: 55%;
}


/*-------------------------------------------Career--------------------------------------------------*/

.career {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.career>ul {
    list-style: none;
}


/*----------------------------------------------Projects----------------------------------------------*/

.projects {
    display: flex;
    flex-direction: column;
    

    
}

.projects>h2 {
    text-align: center;
}


.myProjects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    padding: 30px;
    border: rgb(110, 44, 108) solid 3px;

    
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding
}

.projectCard img {
    width: 200px;

}

@keyframes workAnimation {
    from {
        width: 200px;
    }
    to {
    border: rgb(58, 54, 54) solid 1px;
    border-radius: 60%;
    box-shadow: -9px 1px 23px 0px rgba(97,88,88,0.75);
    -webkit-box-shadow: -9px 1px 23px 0px rgba(97,88,88,0.75);
    -moz-box-shadow: -9px 1px 23px 0px rgba(97,88,88,0.75);
    }
}

.projectCard img:hover {
    animation-name: workAnimation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

/*-----------------------------------------myStack-------------------------------------------------*/

.myStack {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: rgb(80, 32, 78) solid 3px;
    padding: 30px;
}

.myStack h2 {
    text-align: center;
}

.stackImg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.myStack img {
    width: 200px;


}

/*--------My cv----------*/

.curri {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    border: solid 3px rgb(128, 46, 117);
}
.curri a {
    font-weight: bold;
    font-size: small;
    width: 200px;
    color: #b3b0b0;
    background: #8b0d52;
    border: crimson solid 1px;
    border-radius: 3px;
    border-style: none;
    text-decoration: none;
    text-align: center;
}


/*-------------------------------------Contact-------------------------------------------------------*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact>form>* {
    padding: 5px;
}

.submitButton {
    background: #FF87CA;
    border: crimson solid 1px;
    border-radius: 3px;
    border-style: none;
}

.submitButton:hover {
    cursor: pointer;
}